.title{
    width: 100%;
    min-width:1000px;
    height: 120px;
    color: #000000;
    text-align: center;
    padding-top: 20px;
}
.decoration{
    width: 100%;
    height: 10px;
    background-color: #c70e0e;
    min-width: 800px;
}
.content{
    width: 100%;
}
.txt{
    width: 1000px;
    margin: auto;
    font-size: 20px;
    margin-top: 20px;
}
.title_img{
    width: 100px;
    height: 100px;
}
.more_content{
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    box-shadow:0px 0px 1px #ff8600;
}
.left_nav{
    width: 150px;
    height: 600px;
    border-right: solid 3px #ffccb2;
    text-align: center;
    padding-top: 200px;
    float: left;
}
.nav{
    margin: auto;
    width: 130px;
    height: 70px;
    background-color: #a50b0b;
    color: #ffffff;
    text-align: center;
    line-height: 70px;
    border-bottom: solid 1px orangered;
}
.nav:hover{
    background-color: #FF0005;
    cursor: pointer;
}
.right_nav{
    width: 800px;
    float: right;
}
.more_logo{
    background-color: #c70e0e;
    width: 100px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    color: #ffffff;
}
.content_table{
    width: 800px;
    margin: auto;
    margin-top: 15px;
}
.content_table tr td a{
    text-decoration: none;
    color: black;
}
.content_table tr td a:hover{
    color: #c70e0e;
}
.content_table tr{
    width:100%;
    height:40px;
}
.content_table tr td{
    border-bottom: solid 2px orangered;
}
.content_table_content{
    width: 85%;
}
.content_table_time{
    width: 15%;
    text-align: center;
}
.article{
    width: 800px;
    margin:auto;
}
.article_table{
    width: 100%;
}
.article_title{
    text-align: center;
    height: 80px;
    font-size: 27px;
}
.article_time{
    height: 20px;
    text-align: right;
}

/* 定义模态对话框外面的覆盖层样式 */
#modal-overlay{
    visibility:hidden;
    position:absolute;/* 使用绝对定位或固定定位  */
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index:1000;
    background-color: #333;
    opacity: 1;/* 背景半透明 */
}
/* 模态框样式 */
.modal-data{
    width: 400px;
    margin: 100px auto;
    background-color: white;
    border:1px solid #000;
    padding:15px;
    text-align:center;
}